server_name: test
address: :8080
tls:
  enable: true || false
  version: tls1.3 || tls1.2
timeouts:
  request: 5s
  read: 10s
  read_header: 5s
  write: 10s
  idle: 120s
csrf:
  enable: true
  key: 32-byte-string
  field_name: csrf
  cookie_name: csrf
  secure: true || false
  http_only: true || false
  same_site: strict || lax || none
  path: /
